<section class="category-section category-section__01" id="jsSection1">
  <h2 class="category-section__headline">Adult drinks</h2>

  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category01-filter01">Beginner</label>
  <input type="checkbox" name="category01-filter" id="category01-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category01-filter02">Advanced</label>

  <div class="teaser-section" id="jsTeaserSpirituous">

    <article class="teaser-section__teaser" data-tag="profi" data-id="0"><img class="teaser-section__image" width="150" height="150" src="http://www.cocktailberater.de/img/recipes/B52_iba_small.jpg" alt=""><div class="teaser-section__text"><h3>B 52</h3><dt>Ingredients:</dt><dd><span class="teaser-section__unit">2cl</span> Cremelikör, <span class="teaser-section__unit">2cl</span> Kaffeelikör, <span class="teaser-section__unit">1cl</span> Rum 73%, </dd><p><strong>Rating;</strong> 3.75 / 5</p><input type="checkbox" class="teaser-section__more-button" name="learn-more0" id="learn-more0"><label for="learn-more0">Learn more</label><dl class="teaser-section__more"><dt>Description:</dt><dd>-</dd><dt>Instruction:</dt><dd>Kaffeelikör, Irish Cream (bevorzugt Baileys) und 73% Rum, in dieser Reihenfolge vorsichtig in ein Shooterglas geben, so dass sich die Zutaten schichten. Das ganze dann anzünden. Den Trinkhalm natürlich beilegen und nicht in das brennende Glas tun.
Den Shooter, während er brennt, schnellstmöglich durch den Strohhalm trinken.

In der Ur-Version brannte der B52 übrigens nicht. Da wurde als obere Schicht der Grand Marnier Cordon Rouge verwendet.</dd></dl></div></article>

<article class="teaser-section__teaser" data-tag="advanced" data-id="1"><img class="teaser-section__image" width="150" height="150" src="http://www.cocktailberater.de/img/recipes/B52_iba_small.jpg" alt=""><div class="teaser-section__text"><h3>B 52 nach IBA</h3><dt>Ingredients:</dt><dd><span class="teaser-section__unit">2cl</span> Cremelikör, <span class="teaser-section__unit">2cl</span> Kaffeelikör, <span class="teaser-section__unit">2cl</span> Triple Sec Curaçao, </dd><p><strong>Rating;</strong> 3.64 / 5</p><input type="checkbox" class="teaser-section__more-button" name="learn-more1" id="learn-more1"><label for="learn-more1">Learn more</label><dl class="teaser-section__more"><dt>Description:</dt><dd>Der B52 ist ein Shooter, hier das Rezept aus der Kategorie "Popular Drinks" der "IBA Offical Cocktails".</dd><dt>Instruction:</dt><dd>Zuerst den Kahluha, dann Bailey's Irish Cream und zuletzt Grand Marnier vorsichtig in ein Shooterglas schichten (bauen) und mit einem Rührstab servieren.</dd></dl></div></article>

<article class="teaser-section__teaser" data-tag="beginner" data-id="2"><img class="teaser-section__image" width="150" height="150" src="http://www.cocktailberater.de/img/recipes/15.jpg" alt=""><div class="teaser-section__text"><h3>Bahama Mama</h3><dt>Ingredients:</dt><dd><span class="teaser-section__unit">1cl</span> Grenadinesirup, <span class="teaser-section__unit">1cl</span> Zitronensaft, <span class="teaser-section__unit">2cl</span> Rum (weiß), <span class="teaser-section__unit">4cl</span> Rum (braun), <span class="teaser-section__unit">4cl</span> Orangensaft, <span class="teaser-section__unit">4cl</span> Ananassaft, <span class="teaser-section__unit">2cl</span> Whiskeylikör, <span class="teaser-section__unit">4Stück</span> Eiswürfel, </dd><p><strong>Rating;</strong> 3.26 / 5</p><input type="checkbox" class="teaser-section__more-button" name="learn-more2" id="learn-more2"><label for="learn-more2">Learn more</label><dl class="teaser-section__more"><dt>Description:</dt><dd>-</dd><dt>Instruction:</dt><dd>Die Zutaten mit einigen Eiswürfeln shaken und in ein Cocktailglas geben. Mit tropischen Früchten dekorieren.</dd></dl></div></article>

  </div>
</section>


<section class="category-section category-section__02" id="jsSection2">
  <h2 class="category-section__headline">Soft drinks</h2>

  <input type="checkbox" name="category02-filter" id="category02-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category02-filter01">Beginner</label>
  <input type="checkbox" name="category02-filter"id="category02-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category02-filter02">Advanced</label>

  <div class="teaser-section" id="jsTeaserNonAlc">

    <article class="teaser-section__teaser" data-tag="advanced" data-id="39"><img class="teaser-section__image" width="150" height="150" src="http://www.cocktailberater.de/img/recipes/19.jpg" alt=""><div class="teaser-section__text"><h3>Swimming Pool alkoholfrei nach Brandl</h3><dt>Ingredients:</dt><dd><span class="teaser-section__unit">14cl</span> Ananassaft, <span class="teaser-section__unit">2cl</span> Sahne, <span class="teaser-section__unit">2cl</span> Blue Curacao Sirup, <span class="teaser-section__unit">2cl</span> Kokossirup, <span class="teaser-section__unit">4Stück</span> Eiswürfel, </dd><p><strong>Rating;</strong> 3.45 / 5</p><input type="checkbox" class="teaser-section__more-button" name="learn-more39" id="learn-more39" tabindex="-1"><label for="learn-more39">Learn more</label><dl class="teaser-section__more"><dt>Description:</dt><dd>Dies ist die alkoholfreie Variante des tropischen Swimming Pool Cocktails.</dd><dt>Instruction:</dt><dd>Mit Eiswürfeln im Shaker kräftig schütteln und durch das Barsieb in ein Fancyglas auf einige Eiswürfel abgießen. Ein Ananasstück mit einer Cocktailkirsche an den Glasrand stecken.</dd></dl></div></article>

  </div>
</section>
