<section class="category-section category-section__01" id="jsSection1">
  <h2 class="category-section__headline">Adult drinks</h2>
  <input type="checkbox" name="category01-filter" id="category01-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category01-filter01">Beginner</label>
  <input type="checkbox" name="category01-filter" id="category01-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category01-filter02">Advanced</label>

  <div class="teaser-section" id="jsTeaserSpirituous">

    <article class="teaser-section__teaser" data-tag="beginner"><div class="teaser-section__text"><h3>Bahama Mama</h3><dt>Ingredients:</dt><dd>1cl Grenadinesirup, 1cl Zitronensaft, 2cl Rum (weiß), 4cl Rum (braun), 4cl Orangensaft, 4cl Ananassaft, 2cl Whiskeylikör, 4Stück Eiswürfel, </dd><p><strong>Rating;</strong> 3.26 / 5</p><input type="checkbox" class="teaser-section__more-button" name="learn-more2" id="learn-more2"><label for="learn-more2">Learn more</label><dl class="teaser-section__more"><dt>Description:</dt><dd>-</dd><dt>Instruction:</dt><dd>Die Zutaten mit einigen Eiswürfeln shaken und in ein Cocktailglas geben. Mit tropischen Früchten dekorieren.</dd></dl></div></article>

  </div>
</section>


<section class="category-section category-section__02" id="jsSection2">
  <h2 class="category-section__headline">Soft drinks</h2>

  <input type="checkbox" name="category02-filter" id="category02-filter01" class="menu-category-filter" data-filter="one" />
  <label for="category02-filter01">Beginner</label>
  <input type="checkbox" name="category02-filter"id="category02-filter02"  class="menu-category-filter" data-filter="two" />
  <label for="category02-filter02">Advanced</label>

  <div class="teaser-section" id="jsTeaserNonAlc">

    <article class="teaser-section__teaser" data-tag="advanced"><div class="teaser-section__text"><h3>Swimming Pool alkoholfrei nach Brandl</h3><dt>Ingredients:</dt><dd>14cl Ananassaft, 2cl Sahne, 2cl Blue Curacao Sirup, 2cl Kokossirup, 4Stück Eiswürfel, </dd><p><strong>Rating;</strong> 3.45 / 5</p><input type="checkbox" class="teaser-section__more-button" name="learn-more39" id="learn-more39" tabindex="-1"><label for="learn-more39">Learn more</label><dl class="teaser-section__more"><dt>Description:</dt><dd>Dies ist die alkoholfreie Variante des tropischen Swimming Pool Cocktails.</dd><dt>Instruction:</dt><dd>Mit Eiswürfeln im Shaker kräftig schütteln und durch das Barsieb in ein Fancyglas auf einige Eiswürfel abgießen. Ein Ananasstück mit einer Cocktailkirsche an den Glasrand stecken.</dd></dl></div></article>

  </div>
</section>
